.movies-cards {
    padding: 80px 70px 82px;
    width: calc(100% - 70px * 2);
}

.movies-cards_saved {
    padding-bottom: 143px;
}

.movies-cards__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 24px;
    list-style: none;
    padding: 0 0 30px;
    margin: 0;
}

.movies-cards__button-container {
    margin: 0 auto;
    max-width: 320px;
    padding-top: 50px;
}

.movies-cards__button {
    width: 100%;
    background: #2F2F2F;
    border: none;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 11px 0 9px;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .movies-cards {
        padding: 80px 30px 82px;
        width: calc(100% - 30px * 2);
    }

    .movies-cards_saved {
        padding-bottom: 142px;
    }

    .movies-cards__list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 36px;
        column-gap: 30px;
    }

    .movies-cards__button {
        padding: 12px 0 10px;
    }
}

@media screen and (max-width: 767px) {
    .movies-cards {
        padding: 50px 10px 115px; /* 176px */
        width: calc(100% - 10px * 2);
    }

    .movies-cards_saved {
        padding-bottom: 176px;
    }

    .movies-cards__button-container {
        padding-bottom: 0px;
    }

    .movies-cards__list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
        column-gap: 0;
    }

    .movies-cards__button-container {
        max-width: 240px;
    }
}