.profile {
    padding: 55px 0 70px;
}

.profile__title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.profile__container {
    max-width: 410px;
    margin: 0 auto;
}

.profile__form {
    margin-top: 123px;
}

.profile__label {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 14px;
    padding-top: 17px;
    border-bottom: 1px solid #424242;
}

.profile__label:first-of-type {
    padding-top: 0;
}

.profile__label:last-of-type {
    padding-bottom: 0;
    border: none;
}

.profile__input-text {
    font-size: 11px;
    font-weight: 500;
}

.profile__input {
    font-size: 11px;
    font-weight: 400;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    text-align: right;
    max-width: 122px;
    width: 100%;
}

.profile__input-error {
    width: 100%;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2;
    color: #ee3465;
    position: absolute;
    top: 33px;
    right: 0;
}

.profile__links-container {
    margin-top: 218px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
}

.profile__link-item {
    display: block;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.profile__link-item_color_red {
    color: #EE3465;
}

@media screen and (max-width: 1279px) {
    .profile {
        padding: 217px 0 269px;
    }

    .profile__form {
        margin-top: 96px;
    }

    .profile__links-container {
        margin-top: 207px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        padding: 50px 0 40px;
    }

    .profile__container {
        max-width: 260px;
    }

    .profile__form {
        margin-top: 81px;
    }

    .profile__links-container {
        margin-top: 376px;
    }

    .profile__link-item {
        font-size: 12px;
    }
}